---
title: Technologies
weight: 5
parent: /architecture
last_reviewed_on: 2022-04-19
review_in: 3 months
---

# Technologies in use with Monitor your satellites
### Purpose

In order to maximise value for our users and dedicate more developer time to bespoke features, we have used a series of off-the-shelf SaaS products to add functionality to the service. Their purpose is documented here.

### Products used to support ‘Monitor your satellites’
|Product|URL|Purpose|Status|
|:----|:----|:----|:----|
|Auth0|https://www.auth0.com/|Identity and Access Management|Active|
|COSMIC|https://app.cosmicjs.com/mys-production/objects|Editing of whole pages of text|Active|
|GetForm|https://app.getform.io/forms|Feedback form|Active|
|GitHub|https://github.com|Source and version control, GitHub actions for deployment|Active|
|GOV.UK Notify|https://www.notifications.service.gov.uk/|Send emails and text notifications|Active|
|GOV.UK PaaS|https://www.cloud.service.gov.uk/|Cloud hosting platform and runtime|Active|
|Let's Encrypt|https://letsencrypt.org/|Certificate authority and encryption|Active|
|i18nexus|https://app.i18nexus.com/|Allowing editing of text on front end application|Active|
|Logit.io|https://logit.io|To log performance/behaviour of our website, ensure uptime etc.|Active|
|Nutty about hosting|https://www.nuttyabouthosting.co.uk/|Domain registration for monitor-your-satellites.space|Active|
|Route 53|https://aws.amazon.com/route53/|Domain registration for www.monitor-your-satellites.service.gov.uk|Active|
|PIWIK pro|www.piwikpro.com|Web statistics - browser usage, screen size, user journeys etc.|Active|
|Sentry|www.sentry.io|Security logging and alerting|Active|

### Ownership
Further details about ownership and access to these service can be obtained at [monitoryoursatellites@ukspaceagency.gov.uk](mailto:monitoryoursatellites@ukspaceagency.gov.uk)

<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Please note</span>
     Login details to applicable services will be provided to UKSA and/or suppliers offline as required on a principle of least privilege basis.
  </strong>
</div>

<%= partial 'partials/links' %>
