---
title: Joiners, Movers and Leavers
weight: 12
hide_in_navigation: true
parent: /ways-of-working
last_reviewed_on: 2023-07-17
review_in: 6 months
---

# Joiners, Movers and Leavers

### Purpose
The Service Team has a joiners and leavers process for accessing Monitor Space Hazards (MSH) for security and quality assurance reasons.

<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Please note</span>
     Login details to applicable services will be provided to UKSA and/or suppliers offline as required on a principle of least privilege basis.
  </strong>
</div>

### Joiners
* When a new team member joins, a new starter story is create in Jira and accounts are created and/or invitations sent for:
 * Jira - used to track what we are working on
 * GitHub repos - all our repos are public
 * GOV.UK Notify - in order to amend and send notifications via the MSH services
 * Google Analytics - for web analytics
 * MSH Dev and MSH Prod to become a registered user and access the service
 * Auth0 - Authentication service to access MSH
 * Google Drive - for collaboration and documentation storage
 * Sentry, Logit.io and Let's Encrypt access will be given on a needs basis

### Movers and leavers
* If a team member leaves, permissions and accounts are revoked to prevent access to services, private repos and systems.

<%= partial "partials/links" %>
