---
title: 003 - Design of Conjunction Alert Service
weight: 12
hide_in_navigation: true
parent: /designdocs
last_reviewed_on: 2024-01-22
review_in: 12 months
---

# 003 - Design of Conjunction Alert Service

## Purpose
This design document proposes a design for a conjunction alert service for government users.

##Context and scope
One of the key responsibilities for Monitor space hazards is to present and distribute alerts on conjunction events to users across the UK government and internationally. This is in addition to the standard automated reports on conjunction events provided to satellite operators.

Previously, UKSA produced conjunction alerts manually and subsequently distributed them to UK government users via email. These alerts were time consuming to produce and distribute, prone to human error, and resulted in unnecessary delays to cross-government communication. 

## Goals and non-goals
The goal of this Design Doc is to articulate a design for the new conjunction alert service for government users.

### Goals
* Develop a conjunction alert service for government users which provides all the information users need in a user-friendly way</li>
* Ensure the service enables automatic distribution of notifications to users to remove human error, reduce time delays and save time for UKSA staff</li>

##The actual design

### Developing conjunction alerts

The conjunction alert service takes the form of a series of alerts on conjunction events which are escalated according to criteria defined by the UK Space Agency. These alerts are different to the reports automatically produced for operators, meaning for each event the service will display a standard report (for operators) and an alert (for government users).

The alerts contain 9 separate sections:

1. <b>Executive summary:</b> A brief introduction to conjunction events, followed by a table of key event details, such as risk level, predicted time of closest approach, probability of collisions, whether a manoeuvre is expected, and key details about the two objects in question.

2. <b>Additional event details:</b> A table of event details which are not included in the Executive Summary, such as predicted miss distance, impact speed and altitude.

3. <b>Potential impact of event:</b> A summary of the potential immediate, short term and long term impact of the event.

4. <b>Guidance on response:</b> A summary of the UK government response to conjunction events and any press attention.

5. <b>Additional risk to UK objects:</b> A table showing how the collision would increase the risk of further collisions for UK objects should it occur.  

6. <b>Operator view:</b> A link to the report on the same event seen by operators.

7. <b>Conjunction event history:</b> A summary of key event details across several report updates, including time of update, risk level, probability of collision, and predicted time of closest approach.

8. <b>Risk thresholds:</b> A table outlining the thresholds used to determine risk levels for each event.

9. <b>Further information:</b> A list of organisations which have received a notification for the event, and a link to more information about how the analysis is conducted.

To maintain a simple user interface, all sections other than the Executive Summary are contained within accordions. The page also provides an option for users to download the event report as a PDF.

These alert pages were tested with a wide range of potential users.

### Distributing conjunction alerts
Notifications for conjunction alerts were designed to closely replicate UKSA’s existing Standard Operating Procedures for escalating conjunction reports. There are therefore two distribution lists: 

* Distribution list 1: receives notifications for all conjunction alerts</li>

* Distribution list 2: receives notifications for priority conjunction alerts only</li>

Users will be able to select which distribution list they are on; however, the default settings for each user will reflect the distribution lists they were on prior to digitisation of the service. A set of pre-defined criteria determine whether notifications are sent to the extended distribution list. Those at UKSA of the ‘Approver’ type will also be able to manually send notifications to users - either selecting the extended distribution list or inputting selected email addresses to send notifications to. If meeting the criteria to receive notifications about an event, users will receive notifications when the event is first identified, an update is made to the event, and when the event is closed down.

##Alternatives considered
The conjunction alert service was developed through several rounds of prototype development and user testing. Through this process a wide range of iterations of the design were considered until the final design was reached.

<%= partial "partials/links" %>
