---
title: 015 - Alert Criteria for Government 
weight: 12
hide_in_navigation: true
parent: /designdocs
last_reviewed_on: 2024-01-22
review_in: 12 months
---

# 015 - Alert Criteria for Government 

## Purpose
This design document proposes a means for UKSA staff to automatically and manually distribute re-entry and conjunction alerts across government, both to organisations and individuals on existing distribution lists, and those not currently on distribution

##Context and scope
Currently, conjunction and re-entry alerts have to be manually shared by the UKSA team to relevant groups across government via email. 

Automatic sharing of alerts with government users according to pre-defined distribution criteria would improve access to information and save time for UKSA. Meanwhile, manual sending of alerts is still required in exceptional circumstances - such as a high risk to UK satellites or infrastructure - where additional users need to be notified. 

## Goals and non-goals

###Goals:

* Ensure that re-entry and conjunction alerts can be automatically sent to relevant government users should they meet pre-determined distribution criteria </li>
* Ensure distribution criteria are appropriate for the recipients of alerts</li>
* Ensure the UKSA team can manually choose to send an alert to government users, including both those on existing distribution lists and those not currently on them </li>
* Ensure manual sending of alerts can be performed repeatedly if necessary</li>

###Non-goals:

* Functionality to remove individuals or organisations from automatic alert notifications</li>
* Functionality to adapt distribution criteria</li>



##The actual design

###Criteria for developing an alert
Monitor space hazards will ingest CDMs and TIPs from Space Track, meaning it will include data on all observed events worldwide. However, only a small proportion of these events will be escalated to produce an alert. The criteria for developing an alert are as follows:

<b>Conjunction:</b>

* Less than 5 days until Time of Closest Approach</li>
* AND for UK-licensed objects:</li>
    * More than 0.1% probability of collision</li>
    * OR press interest</li>
* AND for non-UK objects:</li>
    * Low risk or higher (based on probability of collisions and potential additional conjunction events for UK objects)</li>
    * AND no manoeuvre expected</li>
* OR nominated for escalation by the National Space Operations Centre</li>
 
<b>Re-entry:</b>

* Less than 36 hours until re-entry</li>
* AND one of the following:</li>
    * Any “large” object in US SATCAT (except designed for demise) with overflights of the UK mainland</li>
    * OR any “large” object in US SATCAT (except designed for demise) with more than 0.1% chance of impact in overseas territories</li>
    * OR any UK-licensed object (except designed for demise)</li>
    * OR (anticipated) press interest</li>
    * OR nominated by National Space Operations Centre</li>

###Criteria for automatic notifications to government users

Upon the uploading of an conjunction or re-entry alert to Monitor space hazards, users who have chosen to receive all alerts for both event types will automatically receive a notification about the alert. 

However, if an event meets additional criteria, notifications will also be sent automatically to those who have chosen only to receive priority alerts. The criteria for priority alerts are as follows:

<b>Conjunction:</b>

* More than 5% probability of collision</li>
* OR significant press interest</li>
* OR for UK licensed objects</li>
    * More than 1% probability of collision</li>
    * AND no manoeuvre expected</li>
* OR for non-UK objects:</li>
    * Medium risk or higher (based on probability of collisions and potential additional conjunction events for UK objects)</li>
    * AND no manoeuvre expected</li>
 
<b>Re-entry:</b>

* Debris likely to survive to the ground</li>
* AND one of the following:</li>
    * More than 0.1% chance of impact in the UK</li>
    * OR UK licensed-object</li>

###Manual sending of notifications
The UKSA SST team, as an Approver user type (see 013 Permissions Model), may also manually send notifications about events to government users in cases where there is significant political or press interest. A user has the option to either send to a distribution list and/or send to selected email addresses that they input into a free text box. Once reviewed, this will send an email to the selected users informing them about the re-entry or conjunction alert. 

## Alternatives considered
We also considered enabling users to set their own criteria for when they receive notifications. The option was discounted because:

* Users expressed concern that they would not know how to set their thresholds for notifications</li>
* Different users across government receiving different notifications could result in a confused response</li>
* The logic of the criteria for sending notifications is sufficiently complicated that it would result in a confusing user interface</li>

<%= partial "partials/links" %>
