---
title: 014. Renaming the service
weight: 12
hide_in_navigation: true
parent: /decisions
last_reviewed_on: 2024-01-24
review_in: 12 months
---

# 014. Renaming the service

Date: 2024-01-24

## Status

Accepted

## Context

The UK Space Agency (UKSA) has been developing and administering a collision avoidance service for UK satellite operators called ‘Monitor your satellites’ since 2020. However, in autumn 2023, UKSA have been developing plans to extend the service to include new use cases (such as re-entry alerts) for a wider range of users (including users across the UK government).

The name ‘Monitor your satellites’ will therefore become inappropriate for the service because: 

* It does not reflect use cases in which the user does not own the satellite/object in question, such as government users</li>
* It may cause confusion amongst new users, such as the public, when the object in question is not a payload (which are in common parlance referred to as satellites)</li>

In January 2024, the UK Space Agency began considering a new name for the service. 


## Decision

The new name chosen for the service is ‘Monitor space hazards’. This name was chosen through a workshop with UKSA staff, and aimed to meet best practice naming conventions from the Government Digital Service, while incorporating the full range of new use cases that may be incorporated into the service in the future.

However, the service must also clearly indicate that it is a part of the National Space Operations Centre Warning and Protection Services. Therefore, while the official digital service name will be Monitor space hazards, the key title on the service homepage will read ‘National Space Operations Centre Warning and Protection Services.’

## Consequences

The new service name will more accurately describe what the service does once it has expanded to include new users and new use cases.

<%= partial 'partials/links' %>