---
title: User Management
weight: 12
hide_in_navigation: true
parent: /designdocs
last_reviewed_on: 2022-04-25
review_in: 3 months
---

# User Management

## Purpose
Taking a lead from Google’s engineering culture this is a [design doc] (https://www.industrialempathy.com/posts/design-docs-at-google/). It is a relatively informal document that details a high-level implementation strategy and key design decisions, with particular emphasis on the trade-offs considered in those decisions.

This document tackles the problem of user management in the Monitor your satellites service. It is an experiment in the potential use of these artefacts.

##Context and scope
Monitor your satellites (MmS) ties together common needs of Satellite Operators, Orbital Analysts, the UK Space Regulator (the Civil Aviation Authority) and the UK Space Agency (UKSA). The shared needs centre around Conjunction Events and the sharing of refined UK-based Orbital Analysis on them.

The high-level workflow for Mysis:

* Ingest a data feed for Conjunction Data Messages (CDM) from SpaceTrack. ’Monitor your satellites’ SpaceTrack permissions only allows it to ingest CDMs for UK objects, so no filtering of these is needed at an ingestion level.
* Group together CDMs and raise Conjunction Events for further Orbital Analysis.
* Share the further Orbital Analysis with Satellite Operators.

So the context for user management is that multiple organisations will be using the Mysservice. It is considered that each organisation will be best placed to understand their own joiners, leavers and movers within their organisation.

##Goal and non-goals
The goal of this design doc is to articulate a User Management design sufficient for the beta phase of MmS.

Unpacking this a little gives the following goals:

* Focus on delivery of core high-value Mysfeatures over ancillary processes
* Minimise the user management overhead placed on the UKSA
* Streamline the user experience for accessing Mysas much as possible
* Enforce the principle of least privilege for users
* Keep user management abstracted away from core features so that its implementation can be swapped out in the future

And the following non-goals:

* Building a custom user management solution for MmS

##The actual design
The design for user management in the beta phase of Mysfollows.

###System context diagram
The following diagram shows the system context for MmS:

![Myssystem context diagram](/designdocs/user-management/mms-system-context.png "Myssystem context diagram").

With the following key:
![Myssystem context diagram key](/designdocs/user-management/mms-system-context-key.png "Myssystem context diagram key").

It is important to note that from a user management perspective there are multiple organisations, each with their own users, that are interacting with each other and MmS.

Given the system context above and the goals for user management the following use cases are proposed.


| Use Case 1                           | Onboarding a new organisation                                                  |
| ------------------------------------ | --------------------------------------------------------------------------------|
| Actor                                | MysAdministrator (see use case 2)                                              |
| Overview                             | The UKSA is responsible for onboarding new organisations. This will involve off-system assurance of the domain associated with the organisation, and the creation of a single user with a “org administrator” role.<br><br>The trigger for this use case is an “MysAdministrator” clicking a GOV.UK Design System button stating “Invite a new organisation”. <br><br> At MVP, users and organisations will be on boarded by manually adding emails to the database of users and setting account permissions in this database manually.|

| Use Case 2                           | Onboarding a user                                                              |
| ------------------------------------ | -------------------------------------------------------------------------------|
| Actor                                | Org Administrator                                                              |
| Overview                             | Each organisation has at least one “org administrator”. This “org administrator” then bears responsibility for creating, updating and deleting users within the organisation and domain they are responsible for. <br><br>The trigger for this use case is an “org administrator” clicking a GOV.UK Design System button stating “Invite a new team member”<br><br>Mysvalidates the new user’s email address domain matches the “org administrators” and sends an email to validate the entire address. <br><br>This implies user accounts have a state model, proposed states are:<ul><li>Unvalidated - created but not validated their email address</li><li>Active - validated and has logged in during the last x days</li><li>Inactive - access is removed due to inactivity, but the account is not deleted, rather it is retained for audit purposes and can be reinstated via a validation email in the future</li></ul><br><br>The other implication is that each user has a role, or roles, associated with it. The proposed roles are:<ol><li>UKSA admin with full access to the highest level of privilege on MmS, it allows all data to be viewed and mutated (UKSA key staff and whoever they choose to maintain the system)</li><li>Orbital analysts admin only with full access to data and the ability to upload conjunction event analysis (at the moment NORSS)</li><li>CAA user admin / member has read only rights to see all data, plus the opportunity to onboard operators.</li><li>ERT user admin/ member (read access to all satellites) has read only rights to see all data, this role is envisaged for regulators, UKSA users and so on.</li><li>Operator user admin/ member (read access to operator satellites), ability to upload ephemeris data.</li></ol>.|

| Use Case 3                           | Inactivating a user                                                            |
| ------------------------------------ | -------------------------------------------------------------------------------|
| Actor                                | Mys                                                                           |
| Overview                             | Due to either a period of x days inactivity (meaning the time of last log-in is tracked for each user) or an off-system event such as someone leaving an organisation.<br><br>This is a state model change on the user account. The user can reactivate themselves by reverifying their email address.|

| Use Case 4                           | Inactivating an organisation                                                   |
| ------------------------------------ | -------------------------------------------------------------------------------|
| Actor                                | MysAdministrator                                                              |
| Overview                             | Due to an off-system event such as an organisation leaving MmS.<br><br> At MVP, this would reuqire an Mysdatabase administrator to manually remove all users from an orgnaisation from the system.|

| Use Case 5                           | User Management Audit                                                          |
| ------------------------------------ | -------------------------------------------------------------------------------|
| Actor                                | Mys                                                                           |
| Overview                             |All user management events, including all of the above use cases, will be audited. There will be a design decision on whether to implement [event sourcing] (https://docs.microsoft.com/en-us/azure/architecture/patterns/event-sourcing) in MmS, in which case auditing will come as part of that decision.|


| Use Case 6                           | <span style="background-color: #FFFF00">Magic link emails</span><i>Subseqently discontinued with the implementation of Auth0</i>|
| ------------------------------------ | -------------------------------------------------------------------------------|
| Actor                                | Mys                                                                           |
| Overview                             | Magic Link Emails are an increasingly common authentication mechanism, since they provide:<ul><li>A low friction sign-in mechanism</li><li>Lower the risk of password reuse across applications</li><li>Authentication for a user whilst also validating the legitimacy of their email address</li></ul><br>Magic Link Emails should be sent when a new user is registered or when an existing user wants to login. To prevent users needing to request a new link for every log in, tokens will be valid for sessions of up to 24 hours. This balances both security and ease of use. Magic links will work as follows:<ol><li>Users will enter their email address at the login page. They will be told that an email has been sent with a magic link and to follow the email’s instructions. </li><li>If the user is known, they will receive an email with a magic link. </li><li>If a user is not known, no email is sent.</li><li>When a user successfully receives a magic link, they will be redirected to a “proceed to my homepage” page. They will click this to gain access to the site.</li></ol><br>As GDS suggests that any errors based on users’ lack of eligibility must be explained with instructions on what to do next, this process may be too opaque. This method will therefore need to be user tested to balance between ease and security.<br><br>It is expected the authentication implementation will be offloaded to an external service, such as Firebase or Auth0. Whilst authorisation will be stored in the Mysdatabase.<br><br>It is important to note that Magic Link Emails are a form of token based authentication.<br><br>It is expected that Multi-Factor Authentication will be explored post-MVP (as while Orbital Analysts will not have access to a smartphone while working, they will have access to an authentication device).|
### APIs

No public API for user management is to be exposed for beta. User Management will be performed exclusively through the UI.

### Data storage
The Mysdatabase will store user records in the following data schema:

![Mysdata schema](/designdocs/user-management/dbdiagram.io.png "Mysdata schema").

The definitions below were used in dbdiagram.io to generate the above diagram:

```
Table organisations as O {
  id int [pk, increment]
  org_name varchar
  org_domain varchar
  mms_wide_access boolean
  orbital_analysis boolean
  satelitte_operator boolean
}

Enum user_statuses {
  unvalidated
  active
  inactive
}

Table users as U {
  id int [pk, increment] // auto-increment
  email_address varchar
  full_name varchar
  organisation_id int
  administrator boolean
  member boolean
  status user_statuses
  last_login timestamp
}

Ref: U.organisation_id > O.id
```

### Code and pseudocode

There are no novel algorithms to describe in code or pseudocode for this design.

### Degree of constraint
Mysis a greenfield development so is relatively free of constraint.

## Alternatives considered

The main area for alternative considerations is authentication. The following were considered:
<ul><li>Passwords are the most common methods of authentication. However passwords are prone to phishing attacks and bad hygiene that weakens effectiveness. They are described as “low quality” security by the Government Design Service.</li><li>Multi-Factor Authentication (MFA) requires two or more independent ways to identify a user. Examples include codes generated from smartphones, captcha tests, fingerprints, voice biometrics, facial recognition and so on. MFA is good against most hacks, but comes with its own pitfalls such as lost phones, SIM cards etc. Orbital analysts will not have access to mobile phones while working so MFA involving smartphones cannot be the default for all user groups. However, orbital analysts will have access to a hardware authentication device. </li><li>While MFA can be explored post-MVP, magic links will be secure and accessible for all user groups and therefore will be the MVP authentication. Problems with magic links expiring before the user can access them will be addressed via longer session times.</li></ul>

## Cross-cutting concerns
The design will conform with the cross-cutting concerns, such as observability, privacy and security, decided and documented elsewhere for MmS.




<%= partial "partials/links" %>
