---
title: 008 - User Management
weight: 12
hide_in_navigation: true
parent: /designdocs
last_reviewed_on: 2024-01-23
review_in: 12 months
---

# 008 - User Management

## Purpose
Taking a lead from Google’s engineering culture this is a [design doc] (https://www.industrialempathy.com/posts/design-docs-at-google/). It is a relatively informal document that details a high-level implementation strategy and key design decisions, with particular emphasis on the trade-offs considered in those decisions.

This document tackles the problem of user management in the Monitor space hazards service. It is an experiment in the potential use of these artefacts.

##Context and scope
Monitor space hazards  ties together common needs of Satellite Operators, Orbital Analysts, the UK Space Regulator (the Civil Aviation Authority), other government departments and the UK Space Agency (UKSA). The shared needs centre around notifications regarding conjunction and re-entry events and the sharing of refined UK-based Orbital Analysis on them.

The high-level workflow for Monitor space hazards is:

* Ingest a data feed for Conjunction Data Messages (CDM) or Trajectory and Impact Predictions (TIPs) from SpaceTrack. Monitor space hazards' SpaceTrack permissions only allows it to ingest CDMs and TIPs for UK objects, so no filtering of these is needed at an ingestion level
* Group together CDMs and TIPs and raise conjunction and re-entry events for further Orbital Analysis
* Share the further Orbital Analysis with users

Therefore, multiple organisations will be using the Monitor space hazards service and viewing different information about each event. It is considered that each organisation will be best placed to understand their own joiners, leavers and movers within their organisation.

##Goal and non-goals
The goal of this design doc is to articulate a User Management design sufficient for the beta phase of Monitor space hazards.

Unpacking this a little gives the following goals:

* Focus on delivery of core high-value Monitor space hazards features over ancillary processes
* Minimise the user management overhead placed on the UKSA
* Streamline the user experience for accessing Monitor space hazards as much as possible
* Enforce the principle of least privilege for users
* Keep user management abstracted away from core features so that its implementation can be swapped out in the future

And the following non-goals:

* Building a custom user management solution for Monitor space hazards

##The actual design
The design for user management in the beta phase of Monitor space hazards follows.

###System context diagram
It is important to note that from a user management perspective there are multiple organisations, each with their own users, that are interacting with each other and Monitor space hazards. This includes:

* <b>Orbital Analysts at the UK Space Agency,</b> who need to be able to ingest data from and upload data to the service</li>
* <b>Other staff at the UK Space Agency,</b> who need to be able to view all information on the service and make some additions to escalated event reports</li>
* <b>UK satellite operators,</b> who need access to data for their own satellites</li>
* <b>Other UK government departments,</b> such as the Civil Aviation Authority, Ministry of Defence and Cabinet Office, who need to understand about threats and hazards in space</li>
* <b>International partners,</b> who benefit from the UK's re-entry preedictions</li>

Given the system context above and the goals for user management, the following user management use cases are proposed. See Design Doc 013 - Permissions Model for more detail on different user types.


| Use Case 1                           | Onboarding a new organisation                                                  |
| ------------------------------------ | --------------------------------------------------------------------------------|
| Actor                                | Superuser                                           |
| Overview                             | The UKSA is responsible for onboarding new organisations. This will involve off-system assurance of the domain associated with the organisation, and the creation of a single user at that organisation with an “Admin” role.<br><br>The trigger for this use case is an “Superuser” clicking a GOV.UK Design System button stating “Invite a new organisation”. <br><br> At MVP, users and organisations will be on boarded by manually adding emails to the database of users and setting account permissions in this database manually.|

| Use Case 2                           | Onboarding a user                                                              |
| ------------------------------------ | -------------------------------------------------------------------------------|
| Actor                                | Organisation Admin                                                             |
| Overview                             | Each organisation has at least one “Admin”. This “Admin” then bears responsibility for creating, updating and deleting users within the organisation and domain they are responsible for. <br><br>The trigger for this use case is an “Admin” clicking a GOV.UK Design System button stating “Invite a new team member”<br><br>Monitor space hazards validates the new user’s email address domain matches the “Admin's” email address and sends an email to validate the entire address. <br><br>This implies user accounts have a state model, proposed states are:<ul><li><b>Unvalidated</b> - created but not validated their email address</li><li><b>Active</b> - validated and has logged in during the last x days</li><li><b>Inactive</b> - access is removed due to inactivity, but the account is retained for audit purposes and can be reinstated via a validation email in the future</li></ul>|

| Use Case 3                           | Inactivating a user                                                            |
| ------------------------------------ | Organisation Admin/Superuser                                                                       |
| Overview                             | Organisation Admins may inactivate users in their organisation due to an off-system event such as someone leaving an organisation. Superusers may do so for all users, regardless of organisation.<br><br>At MVP, this would require the Organisation Admin or Superuser to manually remove the user from an organisation.|

| Use Case 4                           | Inactivating an organisation                                                   |
| ------------------------------------ | -------------------------------------------------------------------------------|
| Actor                                | Superuser                                                              |
| Overview                             | Superusers may inactivate an organisation due to an off-system event such as an organisation leaving Monitor space hazards.<br><br> At MVP, this would require the Superuser to manually remove all users from an organisation from the system.|

| Use Case 5                           | User Management Audit                                                          |
| ------------------------------------ | -------------------------------------------------------------------------------|
| Actor                                | Monitor space hazards                                                                           |
| Overview                             | All user management events, including all of the above use cases, will be audited. There will be a design decision on whether to implement [event sourcing] (https://docs.microsoft.com/en-us/azure/architecture/patterns/event-sourcing) in Monitor space hazards, in which case auditing will come as part of that decision.|

Importantly, Superusers who have the ability to make many of these user management changes will require Multi-Factor Authentication (MFA) to access their accounts.

### APIs

We have made available a public API for user management - this is [documented in our OpenAPI specification in the users section](https://api.monitor-your-satellites.service.gov.uk/docs#/users).

### Data storage
The Monitor space hazards database stores user records in the following data schema:

![Mys data schema](/designdocs/user-management/dbdiagram.io.png "Mys data schema").

The definitions below were used in dbdiagram.io to generate the above diagram:

```
Table organizations as O {
  id uuid [pk, increment]
  name varchar
  email_domain varchar
}

Enum user_statuses {
  unvalidated
  active
  inactive
}

Table users as U {
  id uuid [pk, increment] // auto-increment
  email varchar
  toc_accepted_at timestamp
  is_active boolean
  is_verified boolean
  role character
  notification_settings json
  first_name varchar
  last_name varchar
  phone_number varchar
  notification_thresholds json
  account_details_confirmed_at timestamp
  organization_id uuid
}

Ref: U.organization_id > O.id
```

### Code and pseudocode

There are no novel algorithms to describe in code or pseudocode for this design.

### Degree of constraint
Monitor space hazards is a greenfield development so is relatively free of constraint.

## Alternatives considered

The main area for alternative considerations is authentication, where we considered introducing Multi-Factor Authentication (MFA) for all users. MFA requires two or more independent ways to identify a user. Examples include codes generated from smartphones, captcha tests, fingerprints, voice biometrics, facial recognition and so on. MFA is good against most hacks, but comes with its own pitfalls such as lost phones, SIM cards etc. 

It was decided that information presented on Monitor Space Hazards is not sufficiently sensitive to require MFA for all users. However, MFA is required for most users, including Superusers, with the ability to make changes to the service. However, Orbital analysts will not have access to mobile phones while working so MFA involving smartphones cannot be the default for all user groups.


## Cross-cutting concerns
The design will conform with the cross-cutting concerns, such as observability, privacy and security, decided and documented elsewhere for Monitor space hazards.




<%= partial "partials/links" %>
